/*
    components: layout.scss
*/

.layout {
  display: flex;
  &--left {
    width: 256px;
    height: 100vh;
    background-color: $gray-b;
    overflow: hidden;
  }

  &--right {
    width: calc(100% - 256px);
    background-color: #f7f7f7;
  }
}
