/*
    components: title.scss
*/
.title {
  &--primary {
    font-family: "Montserrat", sans-serif;
    font-size: 54px;
    font-weight: 600;
  }

  &--secondary {
    font-family: "Nunito", sans-serif;
    font-size: 32px;
    font-weight: 600;
  }

  &--tertiary {
    font-family: "Nunito", sans-serif;
    font-size: 24px;
    font-weight: 400;
  }

  &--form {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    font-weight: 600;
  }
}
