/*
    base: base-styles.scss
*/

* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  // font-family: "Montserrat", sans-serif;
  // font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}
